<html>
<head>
    <title>Welcome to mywebsite</title>
</head>
<body>
<h1>MySiteLogo</h1>

<hr>

<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/report">Log Report</a> |
    <a href="/weather">Weather Report</a> |

</nav>

<hr>

<h1>Login Here</h1>

<form action="/validatelogin" method="post">
    User Name : <input type="text" name="uname"/> <br>
    Password  : <input type="password" name="pw" /><br>
    <input type="submit" value="Login"/>
</form>

</body>
</html>