<html>
<head>
    <title>Welcome to mywebsite</title>
</head>
<body>
<h1>MySiteLogo</h1>

<hr>

<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/report">Log Report</a> |
    <a href="/weather">Weather Report</a> |

</nav>

<hr>

<h1>Web Server Log Report</h1>

<table border="1" bgcolor="green">
    <thead>
    <td>IP</td>
    <td>DATE</td>
    <td>IMAGE</td>
    <td>URL</td>
    </thead>
    {% for i,j,k,l in my_data : %}
    {% if k == "No Image" : %}
    <tr bgcolor="yellow">
        <td>{{i}}</td>
        <td>{{j}}</td>
        <td bgcolor="red">{{k}}</td>
        <td>{{l}}</td>
    </tr>
    {% else : %}
    <tr>
        <td>{{i}}</td>
        <td>{{j}}</td>
        <td>{{k}}</td>
        <td>{{l}}</td>
    </tr>
    {% endif %}

    {% endfor %}

</table>

</body>
</html>